
.animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
  }
  
  .word1, .word2 {
    display: flex;
  }
  
  .word1 span, .word2 span {
    display: inline-block;
    font-size: 82px;
    padding: 12px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transform: translateY(-200%);
    animation: drop 1s ease-in-out forwards;
  }
  
  .word1 span:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .word1 span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .word1 span:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .word1 span:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .word1 span:nth-child(5) {
    animation-delay: 0.5s;
  }
  
  .word2 span:nth-child(1) {
    animation-delay: 0.5s;
  }
  
  .word2 span:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .word2 span:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .word2 span:nth-child(4) {
    animation-delay: 0.2s;
  }
  
  .word2 span:nth-child(5) {
    animation-delay: 0.1s;
  }
  
  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  img {
    margin: 0 30px;
    opacity: 0;
    animation: scale 1s ease-in-out forwards, drop-image 1s ease-in-out forwards, scale-back 1s ease-in-out forwards 1s;
  }
  
  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(2);
    }
  }
  
  @keyframes drop-image {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @keyframes scale-back {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }